<<<<<<< HEAD
.card-deck{
    width: auto;
    height: 105px;
}
=======
/*Julien*/
#bloc3 h4{
    font-weight: bold;
}
/*

.bloc31{
    height: 300px;
    background-image:url("https://a0.muscache.com/im/pictures/15273358/d7329e9a_original.jpg?aki_policy=large");
    background-size: cover;
}

.bloc32{
    height: 300px;
    background-image:url("https://a0.muscache.com/im/pictures/6722906/b4bc6418_original.jpg?aki_policy=large");
    background-size: cover;
}

.bloc33{
    height: 300px;
    background-image:url("https://a0.muscache.com/im/pictures/21611933/43f6de69_original.jpg?aki_policy=large");
    background-size: cover;
}

.bloc34{
    height: 300px;
    background-image:url("https://a0.muscache.com/im/pictures/307a5575-c3a4-4b21-8127-a37875ec1239.jpg?aki_policy=large");
    background-size: cover;
}

.bloc35{
    height: 300px;
    background-image:url("https://a0.muscache.com/im/pictures/52149945/33130c63_original.jpg?aki_policy=large");
    background-size: cover;
}

*/

/*Julien*/
>>>>>>> 17c618d59788bd0031398be060d549887d8b13a5
